<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="12px">
  <div fxFlex="25%" *ngFor = "let property of properties">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{property.title}}</mat-card-title>
        <mat-card-subtitle>{{property.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{property.url}}"
        alt="{{property.title}}">
      <mat-card-content>
         <p> 
          {{property.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>{{property.like}}</button>
        <button (click)="share=!share" mat-button>{{property.share}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>

