.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .logo img{
    width: 60%;
    vertical-align: middle;
  }
  .menu-spacing{
      flex: 1 1 auto;
  }
  .social.icons a {
    display: inline-grid;
    vertical-align: middle;
}

// mobile sidenav

mat-sidenav {
    width: 240px;
    height: calc(100vh - 98px);
    margin: 10px;
    border: 1px solid #555;
    color: #fff;
    text-align: center;
    background: #3f51b5;
    border-radius: 5px;
  //  box-shadow: 0 0 4px 4px #efe5e5;
  }
  mat-sidenav-container{
      height: calc(100vh - 60px);
  }
mat-sidenav .mat-button {
    display: flex;
}
// .sidenav-mobilemenu{
//     margin-left: 50px;
//     margin-top: 30px;
// }
.mat-toolbar {
    position: relative;
    z-index: 2;
  }
  .sidenav-mobilemenu {
    margin-top: 20px;
}
  .content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-size:2rem;
    // color: lightgray;  
  }
  mat-sidenav-container{
    height: calc(100vh - 65px);
  }
  .menu-button{
      width: 100%;
  }
  .menu-button span{
    margin-left: 60px;
  }
  .sharebtn{
    transition: 500ms;
    color: green;
     }
    //  .featurelist-dpd .cdk-overlay-pane{
    //    right: 0px !important;
    //  }
 