<mat-card>
    <div fxLayout="row">
        <div fxflex class="colum-section">
            <div class="dropdown-links">
                <a class="dd-title" href="/menu/browse.do" data-original-title="" title="">
                    <img src="https://www.musthavemenus.com/imageservice/images/img/13/header/Nav-Thumbs-Menus.jpg"
                        data-original-title="" title="">
                </a>
                <ul>
                    <h2> Menus</h2>
                    <li> <a href="/menu/browse.do" data-original-title="" title="">Dine-In</a></li>
                    <li><a href="/category/takeout-menus.html" data-original-title="" title="">Takeout</a></li>
                    <li><a href="/category/half-page-menus.html" data-original-title="" title="">Half page</a></li>
                    <li><a href="/category/kids%27-menus.html" data-original-title="" title="">Kids menus</a></li>
                    <li><a href="/category/folded-menus.html" data-original-title="" title="">Folded menu</a></li>
                    <li><a href="/category/digital-menu-boards.html" data-original-title="" title="">Digital menu</a>
                </ul>
            </div>
        </div>
        <div fxflex>
            <div class="dropdown-links">
                <a class="dd-title" href="/menu/browse.do" data-original-title="" title="">
                    <img src="https://www.musthavemenus.com/imageservice/images/img/13/header/Nav-Thumbs-Menus.jpg"
                        data-original-title="" title="">
                </a>
                <ul>
                    <h2> Menus</h2>
                    <li> <a href="/menu/browse.do" data-original-title="" title="">Dine-In</a></li>
                    <li><a href="/category/takeout-menus.html" data-original-title="" title="">Takeout</a></li>
                    <li><a href="/category/half-page-menus.html" data-original-title="" title="">Half page</a></li>
                    <li><a href="/category/kids%27-menus.html" data-original-title="" title="">Kids menus</a></li>
                    <li><a href="/category/folded-menus.html" data-original-title="" title="">Folded menu</a></li>
                    <li><a href="/category/digital-menu-boards.html" data-original-title="" title="">Digital menu</a>
                </ul>
            </div>
        </div>
        <div fxflex>
            <div class="dropdown-links">
                <a class="dd-title" href="/menu/browse.do" data-original-title="" title="">
                    <img src="https://www.musthavemenus.com/imageservice/images/img/13/header/Nav-Thumbs-Menus.jpg"
                        data-original-title="" title="">
                </a>
                <ul>
                    <h2> Menus</h2>
                    <li> <a href="/menu/browse.do" data-original-title="" title="">Dine-In</a></li>
                    <li><a href="/category/takeout-menus.html" data-original-title="" title="">Takeout</a></li>
                    <li><a href="/category/half-page-menus.html" data-original-title="" title="">Half page</a></li>
                    <li><a href="/category/kids%27-menus.html" data-original-title="" title="">Kids menus</a></li>
                    <li><a href="/category/folded-menus.html" data-original-title="" title="">Folded menu</a></li>
                    <li><a href="/category/digital-menu-boards.html" data-original-title="" title="">Digital menu</a>
                </ul>
            </div>
        </div>
    </div>
</mat-card>