.mat-menu-panel {
    width: 100% !important;
    height: auto;
}
.mat-menu-features {
    width: 100% ;
    height: auto;
}
.dropdown-links img {
    width: 250px !important;
}
.dropdown-links a {
    line-height: 30px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}
.dropdown-links h2 {
 
    color: #000;
}
.dropdown-links{
    margin: 10px;
}